.navBar {
  display: flex;
  justify-content: space-between;
}

.leftSideContainer {
  display: flex;
}

.rightSideContainer {
  list-style: none;
  display: flex;
  gap: 10px;
}

.active {
  text-decoration: underline;
}

a {
  text-decoration: none;
}
